@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Merriweather:ital,wght@0,400;0,700;0,900;1,300;1,400;1,700&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,400;1,500;1,600;1,700;1,800&display=swap");

/* head related styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 90%;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url(../resources/Banner\ Image.png);
  background-size: cover;
  background-position: center;
  height: 600px;
  background-repeat: no-repeat;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 10px;
  font-family: Merriweather, Arial;
  text-align: center;
}

header h1 {
  margin-bottom: 20px;
  font-size: 32px;
}
header h2 {
  font-size: 72px;
}

.new-year-offer {
  text-align: center;
}

.new-year-offer h1 {
  color: #f00;
  font-family: Inter, Arial, sans-serif;
  font-size: 88px;
  margin-top: 120px;
  margin-bottom: 20px;
}
.new-year-offer p {
  color: #f00;
  font-family: Inter, Arial, sans-serif;
  font-size: 24px;
  margin-bottom: 20px;
}
.new-year-offer h2 {
  color: #070211;
  font-family: Inter, Arial;
  font-size: 48px;
  margin-bottom: 30px;
}
.greeting {
  color: #fff;
  font-family: Merriweather, Arial, sans-serif;
  font-size: 64px;
  font-weight: 900;
}
.party-theme {
  background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url(../resources/Vectorrr.png);
  height: 600px;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.description {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
section h2 {
  margin-left: 140px;
  color: #fff;
  margin-top: 20px;
}
